body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}